.GameForm{
    width: 500px;
    margin: 100px auto;
    form{
        border:1px solid black;
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }

    input{
        width: 210px;
    }
}