.PlayerForm{
    width: 500px;
    margin: 100px auto;
    form{
        border:1px solid black;
        box-sizing: border-box;
        padding: 20px;
        width: 100%;
    }


    select{
        width:218px;
        height:22.5px;
    }

    input{
        width: 210px;
    }
    
}