.NavBar {
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    gap:20px;
    box-shadow: rgba(100, 100, 111, 0.5) 0px 0px 20px 0px;   
    a{
        color:black;
        font-weight: bold;
        font-size: 20px;    
    }
    a:hover{
        opacity: 20%;
    }
}